/local
/.ipynb_checkpoints
**/.ipynb_checkpoints
**/solution
**/present
**/student
**/local
**/quiz
**/tex
**/latex

#*.pyc
~$*
.DS_Store*

#ignore all
*/exam
*/handouts
*/homework
*/labs
*/quiz
*/index.html

